{% load static %}
<footer class="footer-one">
        <div class="inner-footer">
            <div class="container">
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-xs-12">
                            <div class="block">
                                <div class="block-content">
                                    <p class="logo-footer">
                                        <img src="{% static 'img/home/logo.png' %}" alt="img">
                                    </p>
                                    <p class="content-logo">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incidi
                                        dunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                                    <span>Duis aute irure dolor in reprehenderit in voluptate velit exercitation ullamco</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="block">
                                <div class="block-content">
                                    <div class="title-block">
                                        WHO WE ARE
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Reasons to shop</a>
                                        </li>
                                        <li>
                                            <a href="#">What our customers say</a>
                                        </li>
                                        <li>
                                            <a href="#">Meet the teaml</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact our buyers</a>
                                        </li>
                                        <li>
                                            <a href="#">Cookies & privacy</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="block">
                                <div class="block-content">
                                    <div class="title-block">
                                        CUSTOMER SERVICES
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="#">Help and advice</a>
                                        </li>
                                        <li>
                                            <a href="#">Delivery</a>
                                        </li>
                                        <li>
                                            <a href="#">Terms and conditions</a>
                                        </li>
                                        <li>
                                            <a href="#">Refund Policy</a>
                                        </li>
                                        <li>
                                            <a href="#">FAQs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4">
                            <div class="block">
                                <div class="block-content">
                                    <div class="title-block">
                                        CONTACT US
                                    </div>
                                    <div class="contact-content">
                                        <div class="data align-self-stretch d-flex">
                                            <i class="fa fa-home float-left m-bottom" aria-hidden="true"></i>
                                            <div class="content-data">
                                                <b class="mr-2">Showroom:</b>123 Suspendis matti, Visaosang Building
											</div>
                                        </div>
                                        <div class="data d-flex align-self-stretch">
                                            <i class="fa fa-clock-o float-left" aria-hidden="true"></i>
                                            <div class="content-data">
                                                <b class="mr-2">Opening Hours: </b>08.00AM - 19.00
                                            </div>
                                        </div>
                                        <div class="support d-dflex align-self-stretch">
                                            <div class="data mail-support">
                                                <i class="fa fa-envelope float-left" aria-hidden="true"></i>
                                                <div>support@domain.com</div>
                                            </div>
                                        </div>
                                        <div class="data d-flex align-self-stretch phone-support">
                                            <div class="title-icon">
                                                <i class="fa fa-phone float-left" aria-hidden="true"></i>
                                            </div>
                                            <div>+0012-345-67890</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tiva-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12 align-items-center justify-content-md-start justify-content-sm-center justify-content-xs-center">
                        <span>
                            <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                        </span>
                    </div>
                    <div class="col-md-6 col-xs-12 align-items-center justify-content-md-end d-flex justify-content-xs-center">
                        <img src="{% static 'img/home/payment.png' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </footer>