{% load static %}
    <header>
        <!-- header left mobie -->
        <div class="header-mobile d-md-none">
            <div class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around">

                <!-- menu left -->
                <div id="mobile_mainmenu" class="item-mobile-top">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>

                <!-- logo -->
                <div class="mobile-logo">
                    <a href="home.html">
                        <img class="logo-mobile img-fluid" src="{% static 'img/home/logo-mobie.png' %}" alt="Prestashop_Furnitica">
                    </a>
                </div>

                <!-- menu right -->
                <div class="mobile-menutop" data-target="#mobile-pagemenu">
                    <i class="zmdi zmdi-more"></i>
                </div>
            </div>

            <!-- search -->
            <div id="mobile_search" class="d-flex">
                <div id="mobile_search_content">
                    <form method="get" action="#">

                        <input type="text" name="s" value="" placeholder="Search">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="desktop_cart">
                    <div class="blockcart block-cart cart-preview tiva-toggle">
                        <div class="header-cart tiva-toggle-btn">
                            <span class="cart-products-count">1</span>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-content">
                            <div class="cart-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="product-image">
                                                <a href="products/product-detail.html">
                                                    <img src="{% static 'img/product/5.jpg' %}" alt="Product">
                                                </a>
                                            </td>
                                            <td>
                                                <div class="product-name">
                                                    <a href="products/product-detail.html">Organic Strawberry Fruits</a>
                                                </div>
                                                <div>
                                                    2 x
                                                    <span class="product-price">£28.98</span>
                                                </div>
                                            </td>
                                            <td class="action">
                                                <a class="remove" href="#">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <td colspan="2">Total:</td>
                                            <td>£92.96</td>
                                        </tr>

                                        <tr>
                                            <td colspan="3" class="d-flex justify-content-center">
                                                <div class="cart-button">
                                                    <a href="users/cart.html" title="View Cart">View Cart</a>
                                                    <a href="products/checkout.html" title="Checkout">Checkout</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <!-- menu -->
                    <div class="main-menu d-flex align-items-center justify-content-start navbar-expand-md col-md-6">
                        <div class="menu navbar collapse navbar-collapse">
                            <ul class="menu-top navbar-nav">
                                <li class="nav-link">
                                    <a href="#" class="parent">Home</a>
                                </li>
                                <li>
                                    <a href="#" class="parent">Blog</a>
                                </li>
                                <li>
                                    <a href="#" class="parent">Products</a>
                                </li>
                                <li>
                                    <a href="#" class="parent">Contact US</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- search_widget -->
                    <div class="search_widget col-lg-6 col-md-6 d-flex justify-content-end hidden-xs">

                        <!-- My Account -->
                        <div id="block_myaccount_info" class="hidden-sm-down dropdown d-flex align-items-center">
                            <div class="myaccount-title">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <a href="#acount" data-toggle="collapse" class="acount">
                                    <span>My Account</span>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="acount" class="collapse">
                                <div class="account-list-content">
                                    <div>
                                        <a class="login" href="users/acount.html" rel="nofollow" title="Log in to your customer account">
                                            <i class="fa fa-cog"></i>
                                            <span>My Account</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="login" href="users/login.html" rel="nofollow" title="Log in to your customer account">
                                            <i class="fa fa-sign-in"></i>
                                            <span>Sign in</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="register" href="users/register.html" rel="nofollow" title="Register Account">
                                            <i class="fa fa-user"></i>
                                            <span>Register Account</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="check-out" href="products/checkout.html" rel="nofollow" title="Checkout">
                                            <i class="fa fa-check" aria-hidden="true"></i>Checkout
                                        </a>
                                    </div>

                                    <div class="link_wishlist">
                                        <a href="users/wishlist.html" title="My Wishlists">
                                            <i class="fa fa-heart"></i>
                                            <span>My Wishlists</span>
                                        </a>
                                    </div>
                                    <div id="desktop_currency_selector" class="currency-selector groups-selector hidden-sm-down">
                                        <ul class="list-inline">
                                            <li>
                                                <a title="Euro" rel="nofollow" href="#">EUR</a>
                                            </li>
                                            <li class="current list-inline-item">
                                                <a title="British Pound Sterling" rel="nofollow" href="#">GBP</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="desktop_language_selector" class="language-selector groups-selector hidden-sm-down">
                                        <ul class="list-inline">
                                            <li class="list-inline-item current">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/home/home1-flas.jpg' %}" alt="English" width="16" height="11">
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/home/home1-flas2.jpg' %}" alt="Italiano" width="16" height="11">
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/home/home1-flas3.jpg' %}" alt="Français" width="16" height="11">
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <img class="img-fluid" src="{% static 'img/home/home1-flas4.jpg' %}" alt="Español" width="16" height="11">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- currency -->
                        <div class="desktop-currency-selector hidden-sm-down dropdown d-flex align-items-center">
                            <div class="dropdown-currency myaccount-title">
                                <a href="#currency" data-toggle="collapse" class="acount">
                                    <span class="expand-more">GBP</span>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="currency" class="collapse">
                                <div class="currency-item currency-list-content acount">
                                    <a title="Euro" rel="nofollow" href="#">
                                        <span>€</span>EUR</a>
                                </div>
                                <div class="currency-item current flex-first">
                                    <a title="British Pound Sterling" rel="nofollow" href="#">
                                        <span>£</span>GBP</a>
                                </div>
                            </div>
                        </div>

                        <!-- language -->
                        <div class="desktop-language-selector language-selector groups-selector hidden-sm-down d-flex align-items-center">
                            <div class="dropdown-language myaccount-title">
                                <a href="#language" data-toggle="collapse" class="acount">
                                    <span class="expand-more">
                                        <img class="img-fluid" src="{% static 'img/home/lg1.jpg' %}" alt="English" width="16" height="11">
                                    </span>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="language" class="collapse">
                                <div class="language-list-content">
                                    <div class="language-item current flex-first language-list-content">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'img/home/lg1.jpg' %}" alt="English" width="16" height="11">
                                            <span>English</span>
                                        </a>
                                    </div>
                                    <div class="language-item language-list-content">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'img/home/lg2.jpg' %}" alt="Italiano" width="16" height="11">
                                            <span>Italiano</span>
                                        </a>
                                    </div>
                                    <div class="language-item language-list-content">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'img/home/lg3.jpg' %}" alt="Français" width="16" height="11">
                                            <span>Français</span>
                                        </a>
                                    </div>
                                    <div class="language-item">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'img/home/lg4.jpg' %}" alt="Español" width="16" height="11">
                                            <span>Español</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header desktop -->
        <div class="header-top d-xs-none">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-sm-8 col-md-4 align-items-center">
                        <div class="vertical-header d-flex align-items-center">
                            <div class="dropdown vertical-dropdown has-showmore" data-textshowmore="Show More" data-textless="Hide" data-desktop_item="5">
                                <div data-toggle="collapse" data-target="#show-menu">
                                    <div id="nav_icon3">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div id="logo">
                                <a href="home.html">
                                    <img src="{% static 'img/home/logo.png' %}" alt="logo">
                                </a>
                            </div>
                        </div>
                    </div>

                    <!--policy-->
                    <div class="policy-home col-sm-0 col-md-5 d-flex justify-content-start">
                        <div class="col-lg-6 col-md-6">
                            <div class="block">
                                <div class="block-content">
                                    <div class="policy-item">
                                        <div class="policy-content iconpolicy1">
                                            <img src="{% static 'img/home/home1-policy.png' %}" alt="img">
                                            <div>FREE DELIVERY</div>
                                            <div>From $ 250</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tiva-html col-lg-5 col-md-5">
                            <div class="block">
                                <div class="block-content">
                                    <div class="policy-item">
                                        <div class="policy-content iconpolicy3">
                                            <img src="{% static 'img/home/home1-policy3.png' %}" alt="img">
                                            <div>MONEY BACK</div>
                                            <div>GUARANTEED</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- search -->
                    <div id="search_widget" class="col-sm-4 col-md-3 align-items-center justify-content-start d-flex">
                        <form method="get" action="#">

                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            <input type="text" name="s" value="" placeholder="Search" class="ui-autocomplete-input" autocomplete="off">
                            <button type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>

                        <div class="desktop_cart">
                            <div class="blockcart block-cart cart-preview tiva-toggle">
                                <div class="header-cart tiva-toggle-btn">
                                    <span class="cart-products-count">1</span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </div>
                                <div class="dropdown-content">
                                    <div class="cart-content">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="product-image">
                                                        <a href="products/product-detail.html">
                                                            <img src="{% static 'img/product/5.jpg' %}" alt="Product">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <div class="product-name">
                                                            <a href="products/product-detail.html">Organic Strawberry Fruits</a>
                                                        </div>
                                                        <div>
                                                            2 x
                                                            <span class="product-price">£28.98</span>
                                                        </div>
                                                    </td>
                                                    <td class="action">
                                                        <a class="remove" href="#">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr class="total">
                                                    <td colspan="2">Total:</td>
                                                    <td>£92.96</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="d-flex justify-content-center">
                                                        <div class="cart-button">
                                                            <a href="users/cart.html" title="View Cart">View Cart</a>
                                                            <a href="products/checkout.html" title="Checkout">Checkout</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>