{% load static %}
    <div class="mobile-top-menu d-md-none">
        <button type="button" class="close" aria-label="Close">
            <i class="zmdi zmdi-close"></i>
        </button>
        <div class="tiva-verticalmenu block" data-count_showmore="17">
            <div class="box-content block-content">
                <div class="verticalmenu" role="navigation">
                    <ul class="menu level1">
                        <li class="item">
                            <a href="#" class="hasicon" title="BED">
                                <img src="{% static 'img/home/bed.png' %}" alt="img">BED
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="BED GIRL">
                                <img src="{% static 'img/home/bed.png' %}" alt="img">BED GIRL</a>
                        </li>
                        <li class="item">
                            <a href="#" class="hasicon" title="BED BOY">
                                <img src="{% static 'img/home/bed.png' %}" alt="img">BED BOY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
