{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">

                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="#">
                                                <span>Home</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Living Room</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Sofa</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    {% include 'blogs/blog-filter.html' %}
                                    <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                        <h2>Recent Posts</h2>
                                        {% for blog in blogs %}
                                        <div class="list-content row">
                                            <div class="hover-after col-md-5 col-xs-12">
                                                <a href="{% url 'blogs:detail' pk=blog.id %}">
                                                    <img src="{{ blog.image.url }}" alt="img">
                                                </a>
                                            </div>
                                            <div class="late-item col-md-7 col-xs-12">
                                                <p class="content-title">
                                                    <a href="{% url 'blogs:detail' pk=blog.id %}">{{ blog.title }}</a>
                                                </p>
                                                <p class="post-info">
                                                    <span>{{ blog.created_at }}</span>
                                                    <span>113 Comments</span>
                                                    <span>{{ blog.author.name }}</span>
                                                </p>
                                                <p class="description">{{ blog.short_info }}
                                                </p>
                                                <span class="view-more">
                                                    <a href="{% url 'blogs:detail' pk=blog.id %}">view more</a>
                                                </span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="page-list col">
                                            <ul class="justify-content-center d-flex">
                                                {% if page_obj.has_previous %}
                                                <li>
                                                    <a rel="prev" href="?page={{ page_obj.previous_page_number }}" class="previous disabled js-search-link">
                                                        Previous
                                                    </a>
                                                </li>
                                                {% endif %}
                                                {% for page in page_obj.paginator.page_range %}
                                                <li {% if forloop.counter == 1%}class="current active" {% endif %}>
                                                    <a rel="nofollow" href="#" class="disabled js-search-link">
                                                        {{ page }}
                                                    </a>
                                                </li>
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                <li>
                                                    <a rel="nofollow" href="?page= {{ page_obj.next_page_number }}" class="disabled js-search-link">
                                                        Next
                                                    </a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
